/* .part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25rem;
} */
.resetPlace{
    margin-top: 5rem;
    margin-bottom: 40%;
    margin-left: 0.1rem;
}
.goBackButton{
    background-color: #293969;
    width: 7rem;
}
.goBackButton:hover{
    background-color: #6A79A6;
}
.shortcut {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}
.short-img {
    display: block;
    max-width:100%;
    max-height:80%;
    width: auto;
    height: auto;
}
.short-address {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 2rem;
    margin-top: 1rem;
}
.gallery {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5rem;
}
.gallery p {
    margin-bottom: 1.5rem;
}
.img-group {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 2.5rem;
}
.g-img {
    width: 250px;
    height: 200px;
}
.solid {
    margin-top: 0px;
    margin-bottom: 0px;
}