.body {
    margin:0px;
    font-family: 'Inter', sans-serif;
}

.realH {
    text-align: left;
    align-items: flex-start;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-left: 1rem;
    margin-top: 0rem;
} 
.uploadH {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    flex: none;
    order: 2;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.search {
    justify-content: center;
    margin-left: 1rem;
    width: 7.5rem;
    height: 3rem;
    color: white;
    background: #6A79A6;
    border-radius: 10px;
    border-style: none;
    flex: none;
    order:3;
    font-size: 20px;
}

.search:hover{
    background-color: #293969;
    color: white;
}
.search:active{
    background-color: #293969 !important;
}
.inspec {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}
 
.down {
    color: #6A79A6;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}
.button-col{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.download {
    width: 9rem;
    color: #6A79A6;
    background: #FFFFFF;
    border: 2px solid #6A79A6;
    border-radius: 10px;
    font-size: 18px;
    height: 3rem; 
}

.download:hover{
    background-color: #293969;
    border-color: #293969 ; 
    color: white;
}

.faq {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 3rem;
    color: #000000;
    text-align: left;
    margin-bottom: 3rem;
}
.askbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    border-style: none;
    width: 12rem;
    height: 3.5rem;
    background: #6A79A6;
    border-radius: 10px;
    font-size: 19px;
}

.askbutton:hover{
    background-color: #293969;
    color: white;
}
.askbutton:active{
    background-color: #293969 !important;
}
.q {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2rem;
    margin-bottom: 0.8rem;
}
.answer {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'calt' off;
    color: #2D3648;
}