.bar{
    box-shadow: 0px 4px 4px #F1F1F1;
    border-radius: 0px;
    font-size: 1.3rem ;
}

.loginButton{
    color: #6A79A6;
    border: 2px solid #6A79A6;
    margin-right: 1rem;
    width: 6rem;
}

.loginButton:active{
    background-color: #6A79A6 !important; 
    border-color: #6A79A6 !important; 
}

.signupButton{
    background-color: #6A79A6;
    border: 2px solid #6A79A6;
    width: 6rem;

}

.logoutButton{
    background-color: #6A79A6;
    border: 2px solid #6A79A6;
    margin-left: 2rem;
    
}
.logoutButton:hover{
    background-color: #363F59;
    border-color: #363F59;
}
.logoutButton:active{
    background-color: #363F59 !important;
    border-color: #363F59 !important;
}
.signupButton:hover{
    background-color: #363F59;
    border-color: #363F59;
}
.signupButton:active{
    background-color: #363F59 !important;
    border-color: #363F59 !important;
}
.loginButton:hover{
    background-color: #363F59;
    border-color: #363F59;
    
}

#basic-nav-dropdown{
    color:#678398;
}
.dropdown-item:hover{
    background-color: rgb(229, 226, 226) ;
}