.body {
    margin:0px;
}
.toppart{
    margin-top: 3.625rem;
}

.toppart h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 3.5rem;
}
.searchpart {
    height: 5rem;
    padding: 0px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.searchInput{
    width: 60%;
    height: 3.5rem;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(126, 126, 126, 0.25);
    border-radius: 4px;
    border-style: none;
    vertical-align: middle;
    padding-left: 1rem;
}
.click-search {
    width : 4rem;
    height : 3.5rem;
    cursor: pointer;
}
.cancel-search {
    width : 3.5rem;
    height : 3.5rem;
    cursor: pointer;
}
.upload-word {
    display: inline;
    height: 2.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 2.5rem;
    margin-right: 3rem;
}
.link-upload {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2.5rem;
    text-decoration-line: underline;
    color: #293969;
}

.show-each{
    width: 28%;
    margin: 2%;
    cursor:pointer;
}

.show-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 1111px;
    margin-top: 80px;
    
}
.show-each {
    padding: 0%;   
    height: 25rem;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    
}

.list-img{
    height: 60%;
    border-radius: 7px 7px 0px 0px;
}
.address {
    width: 80%;
    height: 2rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 2rem;
    margin-top: 1rem;
}
.house-info {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    margin-top: 0.7rem;
}

.page-number-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination .page-link {
    color: #6A79A6;
}